<div class="nested-fields">
  <% hide_link ||= false %>
  <%= field_set_tag (f.object.name || "Product Category") do %>
    <%= f.input :name %>
    <div>
      <%= f.simple_fields_for :products do |p|%>
        <%= render partial: "/bigos_menu_box/module/admin/products/form", locals: {f:p, hide_link: true} %>
      <% end %>
      <%= link_to_add_association 'Add new product', f, :products,
                                  :partial => "/bigos_menu_box/module/admin/products/form",
                                  "data-association-insertion-method" => "after", :class => "small button" %>
    </div>
    <% if hide_link %>
      <%= link_to "Remove category", bigos_menu_box.admin_product_category_path(f.object), :method => :delete,
                  :class => "alert small button", :confirm => "Are you sure?" %>
    <% else %>
      <%= link_to_remove_association "remove category", f, :class => "alert small button" %>
    <% end %>
  <% end %>
</div>