<div class='nested-fields'>
  <% hide_link ||= false %>
  <%= field_set_tag (f.object.name || 'Product') do %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <% if hide_link %>
      <%= link_to "Remove product", bigos_menu_box.admin_product_path(f.object), :method => :delete, :class => "alert small button", :confirm => "Are you sure?" %>
    <% else %>
      <%= link_to_remove_association 'remove product', f unless hide_link %>
    <% end %>
  <% end %>
</div>
